# Python önbellek dosyaları
__pycache__/
*.py[cod]
*$py.class

# Sanal ortamlar (Virtual Environments)
backend/venv/
venv/
env/

# Editör klasörleri
.vscode/

# Veritabanı dosyaları
*.sqlite3

# İşletim sistemi kalıntıları
.DS_Store
Thumbs.db

# 🚀 GİZLİ DOSYALAR (ŞİFRELER BURADA SAKLANIR, GITHUB'A GİTMEZ)
.env
backend/.env
frontend/.env
uploads/